<footer>
  <div class='foot'>
    <div class="details">
      <a href="/About">About Us</a>
    </div>
     <div class="map">
      <a href="/leaflet-owm">Map</a>
      </div>
    <div class="doc">
      <a href="/Docs">Documentation
    </div>
    <div class="cont">
      <a href="/Contact">Contact Us</a>
    </div>


  </div>

</footer>
</html>
