<%- include("partials/template");-%>
<h1 id="title">CONTACT US</h1>
<p><%=contactcontent%>
<div class="contact">
<div class="first"><br id="break">&#128231:  <a id="contact" href="mailto:burhanmrj@gmail.com">Send mail to Burhan</a></br>
&#128231:  <a id="contact" href="mailto:taqwakirmani7@gmail.com">Send mail to Taqwa</a>
</div>
<div class="second"><br>&#128222: <a id="contact" href="Tel:96826 28343">Call Burhan</a></br>
&#128222: <a id="contact" href="Tel:88250 24560">Call Taqwa <a/></div>
</div>
</P>

</div>
</div>
<%- include("partials/footer");-%>
