* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Impact, Charcoal, sans-serif;
  background-image: url('../images/intro-bg.jpg');
  background-size: cover;
  background-position: top center;
  font-family: Aerial,sans-serif,monospace;
}
.t{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0px;

}
#title{
    padding:20px;
    margin-top:25px;
    margin-bottom: 100px;
}
p{

    padding:20px;

}
.contact{

    padding:20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0px;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  padding: 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: top-right;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp {
  color: #FFF;
  font-size: 75px;
  font-weight: 500;
  margin: 15px 0px;

}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
.h:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.5);
    transition: all 0.4s ease 0s;
    color:white !important;

}
.bttn{
    color: #313131 ;
    text-decoration: none;
    background-color: grey;
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    display: inline-block;

    align-self: center;

}
.wrapper{
    text-align: center;


}


footer{
    background-color:grey;
    padding:0px;
    color:white;



}
.details{

    margin:20px;
    display: inline-block;
    float: left;
    width: 20%;
    position: relative;
    color:black;
    text-align: center;
}
.cont{

    margin:20px;
    display: inline-block;
    position:relative;
     width: 20%;
     text-align: center;
}
.doc{

   margin:20px;
    display: inline-block;
    position:relative;
    width: 20%;
    text-align: center;
}
.map{

    margin:20px;
    display: inline-block;
    position:relative;
    width: 20%;
    text-align: center;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.5);
    transition: all 0.4s ease 0s;
    color:white !important;
}

.first {
     padding:20px;
    margin:20px;
    display: inline-block;
    position:relative;
    width:40%;
    float:left;
}
.second{
     padding:20px;
    margin:20px;
    display: inline-block;
    position:relative;
    width:40%;
    float:left;
}
#link{
    padding:20px;
    margin-right:20px;
    padding-bottom:  40px;
    width:20%;
    color:white !important;
    font-size:40px;

}
#link:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.5);
        transition: all 0.4s ease 0s;
        color:white!important   ;
}
#contact{
    color:white !important;
}
#contact:hover{
    font-size:25px;
}

.det{

    font-size:20px;
    color:#FFF;
    align-self: center;
    padding:50px;
    width:90%;


}
.temperaturedetails{

    display: inline-block;
    width:50%;
    float:left;
    padding: 0 20px 10px 0;
    text-align: center;



}
.description{


    width:50%;
    margin-left:50%;
    padding: 0 0 10px 20px;
    text-align: center;




}
#place{
    text-align:center;
    font-size: 30px;
}
 @media (max-device-width: 480px) and (min-width: 330px) {
   .bttn{
    padding:15px;
   }
   .details{
     width: 90%;

  }
  .doc{
    width:90%;
  }
       .map{
     width: 90%;

  }
       .cont{
     width: 90%;

  }
  #link{
    font-size:30px;
  }

  #place{
    font-size:20px;
  }
  .current .temp{
    font-size:35px;
  }
  .first{
      width:90%;
      font-size:15px;
      margin-left:  0;
      padding-left:   0;
      margin-bottom:  0;
  }
  .second{
    width:90%;
    font-size:15px;
     margin-left:  0;
    padding-left: 0;
    margin-top:0;
  }
   #title{
    font-size:30px;
  }
  .temperaturedetails{
    font-size: 16px;
  }
  .det{
    padding:50px 5px 50px 5px;
  }
  .description{
    font-size: 16px;
  }
  .box{
    margin:10px !important;
    width: 90% !important;
  }

  .advancedcurrent{
    font-size: 15px !important;
  }
  .anchor .info{
    font-size: 13px;
    padding-right: 20px;
  }
  .Date{
    font-size: 7.7px !important;
  }
  .tommorow img{
    width:27px;
    height: 27px;
    align-self: center;
  }
   .temp1 .high{
    font-size: 15px;
  }
  .temp1 .low{
    font-size: 9.7px;
  }
  .fa-cloud-rain{
    font-size: 7px;
  }

  .precipitation{
    font-size: 10px !important;
  }
  .phrase1{
    font-size: 15px;
  }
  .outsidecontent{
    font-size: 12px;

  }
  .documentation{
    font-size: 14px !important
  }
}



@media(max-width: 1024px){
  .anchor .phrase{
   visibility: hidden;
   width:35% !important;
  }
}
@media(min-width: 1024px){
  .phrase1{
   visibility: hidden;
  }
}
@media(max-device-width:760px) and (min-width:481px ){

.current .temp{
    font-size:40px;
  }
  .details{
     width: 45%;
 margin: 20px 0 20px 0;
  }
  .doc{
    width: 45%;
 margin: 20px 0 20px 0;
  }
  .map{
    width: 45%;
 margin: 20px 0 20px 0;
  }
  .cont{
    width: 45%;
 margin: 20px 0 20px 0;
  }
    .first{
      width:90%;
  }
  .second{
    width:90%;
  }
  .advancedcurrent{
    font-size: 25px !important;
  }
  .anchor .info{
    font-size: 15px;
    padding-right: 20px;
  }
  .Date{
    font-size: 10.1px !important;
  }
  .tommorow img{
    width:40px;
    height: 40px;
    align-self: center;
  }
  .temp1 .high{
    font-size: 20px;
  }
  .temp1 .low{
    font-size: 13px;
  }
  .fa-cloud-rain{
    font-size: 7px;
  }

  .precipitation{
    font-size: 10px !important;
  }
  .outsidecontent{
    font-size: 13px;

  }
  .documentation{
    font-size: 16px !important
  }


}
@media(max-width: 329px) and (min-width:272px) {

 header input{
  padding: 8px 13px;
 }
  .first{
     width:90%;
      font-size:15px;
      margin-left:  0;
      padding-left:   0;
      margin-bottom:  0;
  }
  .second{
     width:90%;
     font-size:15px;
     margin-left:  0;
    padding-left: 0;
    margin-top:0;
  }
  #link{
    font-size:20px;
  }
  p{
    font-size:17px;
  }
  .current .temp{
    font-size:30px;
  }
   #title{
    font-size:30px;
  }
  .bttn{
    padding:12px;
  }
  .details{
     width: 90%;

  }
  .cont{
     width: 90%;

  }
  .doc{
     width: 90%;

  }
  .map{
     width: 90%;

  }
  .det{
    font-size:15px;
    padding:10px;
  }
  #place{
    font-size:20px;
  }
.box{
    margin:10px !important;
    width: 90% !important;
  }
.advancedcurrent{
    font-size: 20px !important;
  }
  .anchor .info{
    font-size: 12px;
    padding-right: 10px;
  }
  .Date{
    font-size: 9.1px !important;
  }
  .tommorow img{
    width:30px;
    height: 30px;
    align-self: center;
  }
  .temp1 .high{
    font-size: 13px;
  }
  .temp1 .low{
    font-size: 11.5px;
  }
  .fa-cloud-rain{
    font-size: 7px;
  }

  .precipitation{
    font-size: 8.5px !important;
  }
 .phrase1{
    font-size: 13px;
  }
  .outsidecontent{
    font-size: 9px;
    display:block !important;
 }
  .right {

    margin:0 10px 0 0 !important;
  }
  .left p,.right p{
    font-size: 12px;
  }
  .value{
    text-align: right;
  }
  .documentation{
    font-size: 12px !important
  }

}




.advancedcurrent{
  padding: 160px 20px 30px 20px;
  font-size: 30px;

  margin:auto;
  width:100%;
  text-align: center;
}
.box{
  padding:10px;
  margin:auto;
  align-items: center !important ;

  color:#ffffff ;
  width:70%;

}
.tommorow{

    display: flex;
    -webkit-box-flex: 1;
    width:50%;
    align-content:  left;
    -webkit-box-pack: justify;

    justify-content: space-between;

}

#advancedplace{
  padding:10px;
  margin:auto;
    width:50%;
    font-size: 20px;
    align-items:   center;
}
.middleContent{
  margin-bottom: 10px;
}
.anchor{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: hsla(0,0%,50%,.5);
    border-radius: 16px 0px 16px 0px;
    padding: 0 12px;
    margin-top: 10px;
    height: 64px;
    overflow: hidden;

}
.info{
      display: flex;
    -webkit-box-flex: 1;
   font-size: 20px;
   font-weight: 900;
       display: block;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right:30px;
}
.anchor .info{
  align-self: center;
}
.anchor .temp1{
    align-self: center;
    white-space: nowrap;
}
.high{
    font-size: 36px;
    line-height: 1.08;
    font-weight: 500;
    letter-spacing: 1px;
}
.low{
    font-size: 20px;
    color: #7FFFD4;
    line-height: 1.2;
}
.anchor .phrase{
    align-self: center;
    font-size: 18px;
    width: 40%;
    text-align:center;
    padding-left:30px;
}
.collapsible {

  background: none;
  cursor: pointer;
  padding: 5px 0px 0px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-color:white;


}
.clickme{
  text-align: center;
}
.active, .collapsible:hover {
  font-size:20px;
  transition:all 0.2s ease;
}

.content {
  padding: 0 18px;
  background-color: hsla(0,0%,50%,.9);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 16px 0px 16px 0px;
}
.outsidecontent{

    display: flex;
}
.precipitation{
  align-self: center;
  font-size: 15px;
  text-align: right;
}
.phrase1{
  padding:10px 10px 0 10px ;
  width:100%;
  text-align: center ;

}
.left{
  margin-top: 20px;
  margin-right: 10px;
  flex:50%;

}
.right{
  margin-top: 20px;
  margin-left: 10px;
  flex:50%;

}
.value{
  margin-left: auto;
    padding-left: 8px;
    text-align: right;
}
.content p{
  padding: 11px 0 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}
.Date{
  margin:auto;
  text-align: center;
  display: block;
  font-size:13.5px;

}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    background: hsla(0,0%,50%,0);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.fas{
  color:white;
}

#bt3{
  align-content: auto;
}
.documentation{
  margin:40px 40px 0 40px;
  font-size: 20px;
  color:#FFF;

}
ul{
  padding:10px;
}
